html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: #CCCCCC;
    font-family: sans-serif;
}

div{
    border-style: solid;
    border-width: 2px;
    background-color: #FFFFFF;
    margin: 10px;
}

input{
    border: solid;
    border-width: 1px;
}

div .input{
    border-width: 0;
}

#mainContent{
    margin: 0;
    width: 100%;
    height: 650px;
}

#header{
    margin: 0;
    width: 99%;
    height: 135px;
}

#content{
    margin:0;
    float: left;
    width: 99;
    height: 503px;
}

#footer
    margin:0;
    float: left;
    width: 99%;
    height: 70px;
    bottom: 0;
}

#logo{
    margin: 15px;
    width: 107px;
    height: 100px;
}

#titulo{
    position: absolute;
    top:35px;
    left: 150px;
    border-width: 0px;
    font-size: 34px;
}

#usuario {
    margin-top: 10%;
}

#ingresar{
    margin: auto;
    margin-top: 3%;
    width: 100px;
    height: 30px;
    font-size: 19px;
    margin-left:21%;
}

.footer{
    border-width: 0px;
    text-align: center;
    font-size: 12px;
    margin: 1px;
}

.botones{
    width: 110px;
    height: 25px;
    position: absolute;
    background-color: #CCCCCC;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
}

.botones:hover{
    background-color: #000000;
    color: #FFFFFF;
}

#content_list{
    width: 50%;
    height: 310px;
    margin: auto;
    margin-top: 6.5%; 
    text-align: center;
}

.input {
    text-align: right;
    margin: auto;
    width: 50%;
    margin-top: 1.5%;
    font-size: 22px;
}

.texto{
    font-size: 18px;
}
