html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: #CCCCCC;
    font-family: sans-serif;
}

div{
    border-style: solid;
    border-width: 2px;
    background-color: #FFFFFF;
    margin: 10px;
}

input{
    border: solid;
    border-width: 1px;
}

#mainContent{
    margin: 0;
    width: 100%;
    height: 650px;
}

#header{
    margin: 0;
    width: 100%;
    height: 135px;
}

#content{
    float: left;
    width: 880px;
    height: 414px;
}

#footer{
    float: left;
    margin:0;
    width: 100%;
    height: 70px;
    bottom: 0;
}

#logo{
    margin: 15px;
    width: 107px;
    height: 100px;
}

#titulo{
    position: absolute;
    top:35px;
    left: 150px;
    border-width: 0px;
    font-size: 34px;
}

.content_login {
    font-size: 25px;
    text-align: right;
    width: 340px;
    margin-left: 53px;
}

.footer{
    border-width: 0px;
    text-align: center;
    font-size: 12px;
    margin: 1px;
}

.botones{
    width: 110px;
    height: 25px;
    position: absolute;
    background-color: #CCCCCC;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
}

.botones:hover{
    background-color: #000000;
    color: #FFFFFF;
}

#titulo_content{
    border-width: 0px;
    font-size: 25px;
    margin-top: 20px;
}

#content_list{
    width: 850px;
    height: 310px;
    overflow: scroll;
}

.item_list{
    width: 120px;
    height: 160px;
    float: left;
}

.item_list #foto{
    width: 90px;
    height: 90px;
    margin: 12px;
}

.item_list div{
    margin: 0px;
    border-width: 0px;
    text-align: center;
}
