ul{
    margin-left: -30px;
}

li{
    border: solid;
    border-width: 1px;
    list-style-type: none;
}

#menu{
    float: left;
    width: auto;
    height: 414px;
    font-size: 16px;
}

.nav li a {
    background-color:#00569d;
    color:#fff;
    text-decoration:none;
    padding:6px 15px;
    display:block;
    text-align: center;
    border-width: 1px;
    border-color: #0F4C0A;
    height: 20px;
}

.nav li a:hover {
    background-color: #AAAAAA;
}

.nav li ul {
    display:none;
    min-width:140px;
}

.nav li:hover ul {
    display:block;
}

.sub li{
    border-width: 0px;
}

.sub li a{
	background-color: #FFFFFF;
	color: #000000;
	margin: -1px; 
}

.sub li a:hover{
	color: #00569D;
}margin: -1px;

} 

.sub li a:hover {
    background-color:#fff;
    color:#00569d;
}
