
#menu{
    float: left;
    width: 211px;
    height: 385px;
    font-size:12px;

}
ul, ol {
    list-style:none;

}

.nav > li {
    padding:-1px 15px;

}

.nav li a {
    background-color:#00569d;
    color:#fff;
    text-decoration:none;
    padding:6px 15px;
    display:block;
    text-align: center;
}

.nav li a:hover {

}

.nav li ul {
    display:none;
    min-width:140px;

}

.nav li:hover ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}
.sub li a{
    background-color:#fff;
   color:#000;
   margin: -1px;

}
.sub li a:hover {
    background-color:#fff;
    color:#00569d;

}
