a{
	text-decoration: none;
}

#titulo-modulos{
	font-size: 25px;
	font-weight: bold;
	border-width: 0;
}

#foto-misional{
	margin-left: 170px;
}

#misional{
	margin-left: 139px;
}

#prestamo{
	margin-left: 30px;
}

.foto{
	width: 150px;
	height: 150px;
	border-style: solid;
	border-width: 2px;
	margin-top: 25px;
	margin-left: 105px; 
	float: left;
}
.modulo{
	float: left;
	width: 215px;
	border-width: 0;
}
